.main{width:928px;background:#ffffff;}

#center_c{width:928px;height:33px;margin-top:5px;background:url('df_01.jpg');}
#center_c1{width:900px;height:100%;background:#fff; padding:10px; line-height:20px; font-size:14px;}
#center_c2{width:900px;height:100%; background-color:#fff; padding:10px; line-height:20px; font-size:14px;}

