<div class="psl9-e phone1">
<div class="psl9-em">
<div class="psl9-ea"><b>预约报名</b>Online registration</div>

<form method="post" action="http://www.shaolinedu.cn/index.php?m=formguide&c=index&a=show&formid=12&siteid=1" name="myform" id="myform">
<ul class="psl9-e-ula">
<li><span>姓名：</span><input name="info[xingming]" id="xingming" type="text" class="psl9-e-txt" placeholder="必填"></li>
<li><span>年龄：</span><input name="info[nianling]" id="nianling"  type="text" class="psl9-e-txt" placeholder="必填"></li>
<li><span>电话：</span><input name="info[tel]" id="tel" class="psl9-e-txt" placeholder="必填"></li>
<li><span>微信：</span><input name="info[wx]" id="wx" type="text" class="psl9-e-txt"></li>
<div class="psl9-eb"><input name="dosubmit" type="submit" class="psl9-e-but" value=""></div>
</ul>
</form>
</div>
</div>